*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
main{
    background-color: #9ae6b4;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding: 30px;
}
.container{
    width: 500px;
    padding: 10px;
    border: 2px solid rgb(158, 156, 156);
    border-radius: 10px;
    background-color: #25d462;
}
input{
    padding: 8px;
    width: 80%;
    margin-top: 5px;
}
button{
    padding: 8px;
    margin: 5px;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
input:focus{
    outline: none;
}
h2{
    text-align: center;
    margin: 10px;
}
li{
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 320px 70px 70px;
    
}
