

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*{
    margin: auto;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
header{
    position: sticky;
    top: 10px;
    background-color: white;
}
/* Header Start */
nav{
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0, .1);
    margin-top: 10px;
}
div{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    width: 30%;
    padding-left: 40px;
}
.logo>img{
    width: 200px;
    vertical-align: middle;
}
li{
    font-size:  14px;
    color: #666666;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}
li:hover{
    color: rgb(141 198 63);
}
.btn{
    padding-left: 10px;
}
.btns{
    font-size: 12px;
    display: inline-block;
    margin-left: 2px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #3B82F6;
    color: white;
    cursor: pointer;
}
.btns:hover{
    background-color: rgb(141 198 63);
}
/* Header ENd */

/* Hero Section start */
.hero{
    width: 100%;
    height: 550px;
    display: inline-block;
}
.hero-text{
    width: 50%;
    padding-left: 30px;
    display: inline-block;

}
.hero-image{
    width: 35%;
    padding-left: 30px;
    padding-top: 20px;
    display: inline-block;
}
.green{
    color: rgb(141 198 63);
}
.blue{
    color: #0D6DB7;
}
.main{
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 10px;
}
.highlight{
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 10px;

}
.detail{
    font-size: 16px;
    padding-bottom: 10px;

}
.explore-btn{
    font-size: 14px;
    color: #000000D9;
    cursor: pointer;
    border: 1px solid #000000D9;
    padding: 20px 40px;
    background-color: white;
}
.hero-image>img{
    width: 500px;
}
/* Hero Section End */

/* Donate Section Start*/
.donate{
    width: 92%;
    background-color: rgba(182, 239, 73, .2);
    padding: 30px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.donate-btns{
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
}
.donate-btns:hover{
    color: white;
    font-size: 15px;
    background-color: black;
    transition-duration: 500ms;
}
.quick{
    border: none;
    color: white;
    cursor: pointer;
    background-color: #8dc63f;
    padding: 15px;
    border-radius: 10px;
}
.quick:hover{
    font-size: 15px;
    margin: 0;
    transition-duration: 500ms;
}
.general{
    font-size: 12px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}
.rs{
    font-size: 12px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 0 10px 10px 0;
}
.number{
    font-weight: 600;
    border: 1px solid;
    padding: 15px;
}
/* Donate Section Start*/

/* Bank Poster Start */
.bank-poster{
    width: 95%;
    border: rgb(0, 0, 0);
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0, .1);
    margin: 10px 30px;
    border-radius: 5px;
}
.bank-poster>img{
    width: 100%;
}

/* Bank Poster End */

/* Works Start */
.works{
    margin: 30px 0;
    text-align: center;
}
.Doing{
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
}
.list{
    width: 95%;
}
.list div{
    height: 160px;
    width: 160px;
    background-color: rgba(182, 239, 73, .2);
    padding: 10px;
    margin: 5px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.list img{
    height: 90px;
    padding-top: 25px;
}
.list div:hover{
    height: 180px;
    width: 180px;
    transition-duration: 900ms;
}
/* Works End */

/* Two Images Start */
.images{
    margin-left: 100px;
}
.images div{
    height: 230px;
    width: 380px;
    margin: 5px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}
.images div:hover{
    height: 270px;
    width: 420px;
    opacity: 0.8;
}
.div1{
    background-image: url("images/doctor.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
#div2{
    background-image: url("images/help.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.images img{
    width: 100%;
}
.images button{
    width: 90%;
    padding: 10px 20px;
    background-color:  rgb(141 198 63);
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.images p{
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    font-weight: 600;
    padding-top: 50px;
    height: 50%;
    width: 100%;
    border-radius: 5px;
}
/* Two Images End */