*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

/* start */
.left_box{
    background-color:rgb(149, 49, 243);
    width: 20%;
    border: 2px solid;
    padding: 10px;
    color: white;
}
.box_img{
    width: 200px;
    height: 200px;
    background-color: #c6c4c4;
    border-radius: 50%;
}
.img_box{
    width: 100%;
}
.img_box img{
    width: 200px;
    border-radius: 50%;
    display: none;
}
.show_btn{
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

li{
    line-height: 20px;
}
.contact_bx{
 width: 100%;
 margin-top: 15px;
 margin-left: 10px;
}
.skill_box{
width: 100%;
margin-top: 15px;
margin-left: 10px;
}
.hobbie_box{
 width: 100%;
 margin-top: 15px;
 margin-left: 10px;

}
/* right */
.right_box{
    width: 50%;
    /* border: 2px solid; */
    padding: 10px;
    background-color: white;
}
.box_exp{
   margin: 10px;
}
#exp_box{
    width: 400px;
    display: none;
    margin: 10px;
}
#edu_box{
    width: 400px;
    display: none;
    margin: 10px;
}
#lang_box{
    width: 400px;
    display: none;
    margin: 10px;
}

/* btn */
.btn{
    padding: 5px;
    background: #c6c4c4;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
/* form */
form{
    padding: 10px;
}
input{
    padding: 5px;
    width: 100%;
}
@media (max-width:700px) {
    main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left_box{
    width: 100%;
    padding: 20px;
}
.right_box{
    width: 100%;
}
}