*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100%;
    /* background-color: rgb(53, 53, 53); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}
@media (max-width: 1111px) {
    
#container{
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

#box_container{
   margin-top: 10px;
}
#nested_box{
    padding: 5px;
}


}

#box_container{
    width: 260px;
    height: 300px;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nested_box{
    width: 100%;
    height: 80%;
    background-color: white;
    box-shadow: 2px -20px 18px -20px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    
}
p{
    text-align: justify;
    margin-top: 5px;
}
h3{
    margin-top: 3px;
}
