body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start app*/

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 10px;
}

.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  gap: 30px;
}

.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* background-color: pink; */
  gap: 30px;
}
.btn{
  padding: 10px;
  background-color: darkgray;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* counter */
.counterbox{
   background-color: rgb(161, 198, 160);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   flex-direction: column;
}

.btn{
  padding: 10px;
  border-radius: 4px;
  border: 0px solid black;
  margin: 5px;
  background-color: cadetblue;
}

input{
  padding: 8px;
}

