body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start app*/

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 10px;
}

.links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  gap: 30px;
}

.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* background-color: pink; */
  gap: 30px;
}
.btn{
  padding: 10px;
  background-color: darkgray;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

